.a-icon {
    color: inherit;
    display: inline-block;
    max-height: 1.1875em;
    max-width: 1.1875em;
    vertical-align: text-top;
}

.a-icon--before-text {
    margin-right: 0.25em;
}

.a-icon--after-text {
    margin-left: 0.25em;
}

.a-icon--large {
    font-size: 2em;
}
