@import "../../../styles/core/core";

.a-avatar {
    border: 1px solid $color-white;
    border-radius: 50%;
    box-sizing: border-box;
    color: $color-white;
    height: 40px;
    line-height: 38px;
    text-align: center;
    width: 40px;
}

.a-avatar--initials,
.a-avatar--anonymous {
    background-color: $color-primary;
}

.a-avatar--anonymous {
    font-size: 20px;
    // Magic number to properly position the icon canvas
    line-height: 34px;
}
