// Sizing

$global-font-size: 1rem;
$global-spacing-quarter: 0.25rem;
$global-spacing-half: 0.5rem;
$global-spacing: 1rem;
$global-spacing-2x: 2rem;
$global-spacing-3x: 3rem;
$global-spacing-4x: 4rem;
$global-spacing-6x: 6rem;

// Colors

$color-primary: #4183c4;
$color-light-primary: #9bc3e5;
$color-dark-primary: #1e70bf;
$color-secondary: #943d6a;
$color-tertiary: #af9b61;
$color-body: #1b2031;
$color-dark-gray: #333333;
$color-gray: #767676;
$color-light-gray: #dddddd;
$color-tan: #fcf8f6;
$color-white: #ffffff;
$color-black: #000000;

$color-brand-facebook: #39579a;
$color-brand-twitter: #69ace0;
